.pisa-questionnaire-widgets {
  $gray : #66666663;

  .checkbox-container {
    .form-check-input {
      &.unset {
        background-color: $gray ;
        border-color: $gray;
         &.is-invalid {
          // override 
          border-color: var(--bs-form-invalid-border-color);
         }
        &:focus {
          box-shadow: 0 0 0 0.25rem lightgray;
        }
      }
    }

    .form-check-label {
      margin-left: 0.3em;
      display: inline;

      p {
        display: inline;
        margin: 0;
      }
    }

    &.left {
      text-align: left;
    }

    &.center {
      text-align: center;
    }

    &.right {
      text-align: right;
    }

  }

}