body .questionnaire-review-form-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  background-color: #212529;

  .review-modal-dialog {
    width: 80%;
    max-width: 800px;
    margin: 1.75rem auto;

    @keyframes animatetop {
      from {
        top: -300px;
        opacity: 0
      }

      to {
        top: 0;
        opacity: 1
      }
    }

    .review-modal-content {
      animation: animatetop 0.4s;
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
      pointer-events: auto;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid rgba(0, 0, 0, .2);
      border-radius: .3rem;
      outline: 0;

      .review-modal-header {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        padding: 1rem 1rem;
        border-bottom: 1px solid #dee2e6;
        border-top-left-radius: calc(.3rem - 1px);
        border-top-right-radius: calc(.3rem - 1px);

        h4 {
          margin-bottom: 0;
          line-height: 1.5;
          font-family: "Segoe UI", Arial, sans-serif;
          font-weight: 500;
          margin: 10px 0;
        }
      }

      .review-modal-body.form-review {
        height: 60vh;
        overflow: auto;
        position: relative;
        flex: 1 1 auto;
        padding: 1rem;
        pointer-events: auto;
        word-break: break-word;

        div.step-review-container {
          &:not(:first-child) {
            .step-review {
              margin-top: 1em !important;
            }
          }
        }

        .review-item-title {
          color: #9e9e9e;
          margin-bottom: 0;
          margin-top: 1em;
          font-size: 1em;
          font-weight: normal;
        }

        .review-item-value {
          //  margin-top: 0.3em;
          font-weight: normal;
          white-space: pre-wrap;
          max-width: 100vw;
          overflow-x: auto;
        }
      }

      .review-modal-footer {
        display: flex;
        flex-wrap: wrap;
        flex-shrink: 0;
        align-items: center;
        justify-content: flex-end;
        padding: .75rem;
        border-top: 1px solid #dee2e6;
        border-bottom-right-radius: calc(.3rem - 1px);
        border-bottom-left-radius: calc(.3rem - 1px);
      }

      .qst-file-list {
        margin: 0;
        padding: 0;

        li {
          line-height: normal;
          list-style: none;
          border-bottom: 1px dotted #c8c8c8;
          padding: 4px 0;
          display: flex;
          align-items: center;
          gap: 6px;
        }
      }
    }
  }
}