.pisa-questionnaire-widgets {
  .form-input-container {
    width: 100%;
    position: relative;

    .input-label {
      p {
        display: inline;
      }
    }

    // alignment
    &.left {
      text-align: left;

      input,
      textarea {
        text-align: left;
      }
    }

    &.center {
      text-align: center;

      input,
      textarea {
        text-align: center;
      }
    }

    &.right {
      text-align: right;

      input,
      textarea {
        text-align: right;
      }
    }
  }
}