.questionnaire-management-tab-container {
	padding-top: 1em;
	.detail-content-inner {
		display: flex;
		flex-direction: column;
		button {
			margin: 0.5em;
		}
		.description {
			padding: 1em;
		}
	}
}