.pisa-questionnaire-widgets {
  
.step-container {
  margin-top: 1em;
  padding-top: 1em;
  padding-left: .5em;
  padding-right: .5em;

  &.step-border {
   border: 2px #ff9f0080 solid;
  }
}

.step-preview-count {
  position: absolute;
  top: 0.5em;
  left: 50%;
  transform: translate(-50%);
  margin: 0;
  font-weight: bolder;
  padding: 0 10px;
  z-index: 1;
  border-top: solid #ff9f0080 2px;
  border-left: solid #ff9f0080 2px;
  border-right: solid #ff9f0080 2px;
}
}