.pisa-questionnaire-widgets {
  .select-container {
    width: 100%;
    position: relative;

    .inline {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }

    .select-label {
      display: inline;
      margin-left: 4px;
      padding-right: 0.5em;

      span {
        padding-left: 0.3em;
      }
    }

    // reset button
    .text-end {
      margin: 5px 0 0 auto;

      .reset-label {
        padding: 5px 16px;
        border-radius: 5px;
        border: 1.5px solid #424242;
        width: fit-content;
        display: inline-block;
        white-space: nowrap;
        cursor: pointer;

        span {
          color: #5f6368;
        }

        &:hover {
          background-color: #f9f9f9;
        }
      }

      &.fade-in {
        animation: fadeIn 0.2s ease-in-out forwards;
      }
    }
    
    .invalid-feedback {
      display: block;
    }
  }

  &.edit-mode {
    .header-info {
      font-weight: bolder;
      position: absolute;
      top: -8px;
      left: 50%;
      transform: translate(-50%);
      padding: 0 10px;
      z-index: 1;
      border-top: dotted green 2px;
      border-left: dotted green 2px;
      border-right: dotted green 2px;
    }

    .conditional-header-border {
      border: dotted green 2px;
    }
  }

  // aligment
  .select-container .left {

    .select-title,
    .dropdown-select,
    .dropdown-wrapper {
      text-align: start;
    }

    .inline {
      justify-content: left;
    }
  }

  .select-container .center {

    .select-title,
    .dropdown-select,
    .dropdown-wrapper {
      text-align: center;
    }

    .inline {
      justify-content: center;
    }
  }

  .select-container .right {

    .select-title,
    .dropdown-select,
    .dropdown-wrapper {
      text-align: end;
    }

    .inline {
      justify-content: right;
    }
  }
}