.questionnaire-management-tab-container {
	.notice-body {
		color: #666;
		font-weight: bold;
		font-size: 12px;
		padding: 0 0 10px;
	}

	.note {
		padding: 1em;
	}


	&.scrivito-dark {
		background: #1d2229;

		.detail-content {
			border-top: 2px solid rgba(0, 0, 0, 0.1);
			margin: 0;
			padding: 15px;
			font-family: "Manrope", Helvetica, Arial, sans-serif;

			label {
				color: #aaa;
			}
		}

		.notice-body {
			color: #aaa;
		}

	}
}